= link_to_edit @post

%h1
  = @post.title
  %small
    = t('activerecord.attributes.post.user') + ':'
    = @post.user.name + ','
    = @post.published_at
= @post.content.html_safe

= render template: 'comments/index'
